<h2 class="center">Menu </h2>
<div class="card bg-light text-dark" *ngFor="let item of menuItems">
    <div class="card-body center">
        <h4 class="card-title">{{ item.name }} </h4>
        <p class="card-text">Price: ₹{{ item.price }} </p>
        <button (click)="addToCart(item)" class="btn btn-secondary">+</button>
    </div>
</div>

<div class="center">
    <button class="btn btn-light" routerLink="../seller">Seller</button>
    <button class="btn btn-light" routerLink="../orderList">cart</button>
</div>