<app-options></app-options>
<div class="container">
    <div class="row center">
        <div *ngFor="let item of data">
            <div class="col s12 m4" *ngIf="item.payload.doc.data().available">
                <div class="card">
                    <div class="card-image">
                        <img src="../../assets/fast food.jpg">
                        <a (click)="addToCart(item)" onclick="M.toast({html: 'Added To Cart!'})" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ item.payload.doc.data().name }}</span>
                        <p>Price: ₹{{ item.payload.doc.data().price }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 page-center" *ngIf="data.length == 0">
            <i class="material-icons large">hourglass_empty</i>
            <h5>Seller do not have any product listed</h5>
        </div>
    </div>

    <div class="row center">
        <a routerLink="../orderList" class="btn-large waves-effect waves-light orange"><i class="material-icons left">shopping_cart</i>View Orders</a>
    </div>
</div>
<app-footer></app-footer>