<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text">Frezzo</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul class="right">
                    <li><a class="grey-text text-lighten-3" routerLink="../buyer"><i class="material-icons">restaurant_menu</i>Menu</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="../orderList"><i class="material-icons">shopping_cart</i>View Orders</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="../payment"><i class="material-icons">payment</i>Payment</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2020 Copyright Text
        </div>
    </div>
</footer>