<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Frezzo</h5>
                <p class="grey-text text-lighten-4">Making your food-ordering experiance a delight!</p>
            </div>
            <div class="col l4 offset-l2 s12 center">
                <ul>
                    <li><a class="grey-text text-lighten-3" routerLink="../buyer">Menu</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="../orderList">View Orders</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="../payment">Payment</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2020 Copyright Frezzo
        </div>
    </div>
</footer>