.card-design {
    height: 30vh;
    width: 30vw;
    position: relative;
    background-color: white;
}

.menu-card-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.item-image {
    height: 15vh;
    width: 30vw;
    background-image: url("../../assets/svg/Food Image.svg");
}