/* .card-grid {
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;
} */

.card {
    height: 40vh;
    width: 50vw;
    background-color: white;
    border-radius: 5%;
}

.card-image {
    margin: 0;
    padding: 0;
    background-image: url("../../assets/fast food.jpg");
    border-radius: 5%;
    height: 20vh;
    width: 50vw;
}

.addToMenu {
    position: relative;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    font-weight: bolder;
    float: right;
    margin: 1vh;
}

.item-data {
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}