/* .base {
    background-color: white;
    background-repeat: no-repeat;
}

.categories {
    margin-top: 5vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.today-menu {
    margin: 5vh auto;
} */