<app-options></app-options>
<div class="container">
    <br><br>
    <h1 class="header center orange-text">Frezzo</h1>
    <div class="row center">
        <h5 class="header col s12 light">Choose the food you love . . .</h5>
    </div>
    <div class="row center">
        <a id="download-button" routerLink="../buyer" class="btn-large waves-effect waves-light orange"><i class="material-icons left">restaurant_menu</i>Go To Menu</a>
    </div>
    <br><br>
    <app-top-pick-menu></app-top-pick-menu>

</div>
<!-- To display if the token is recieved or not -->
<!-- <div>
    {{message | async | json}}
</div> -->
<app-footer></app-footer>