<app-options></app-options>
<div class="container">
    <div class="row center">
        <div class="col s12 m4" *ngFor="let item of orderItems">
            <div class="card" *ngIf="item.payload.doc.data().price != 0">
                <div class="card-image">
                    <img src="../../assets/fast food.jpg">
                </div>
                <div class="card-content">
                    <a (click)="delete(item)" class="btn-floating halfway-fab waves-effect waves-light red"><i
                        class="material-icons">delete_forever</i></a>
                    <span class="card-title">{{ item.payload.doc.data().name }}</span>
                    <p>Price: ₹{{ item.payload.doc.data().price }}</p>
                    <p>Amount: {{ item.payload.doc.data().count}}</p>
                </div>
            </div>
        </div>

        <div class="col s12 m12 page-center" *ngIf="orderItems.length == 0">
            <i class="material-icons large">hourglass_empty</i>
            <h5>Your cart feels too light</h5>
        </div>
    </div>

    <div class="row center">
        <a id="download-button" routerLink="../payment" class="btn-large waves-effect waves-light orange"><i class="material-icons left">payment</i>Payment</a>
    </div>
</div>