.center {
    text-align: center;
}

.page-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.size {
    height: 50vh;
}

.head-text {
    margin-top: 2vh;
}

.all-menu {
    margin-bottom: 70px;
}