.input {
    border: 2px solid red;
    border-radius: 10%;
}

.button {
    color: red;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 20%;
}

.input,
.button {
    text-align: center;
}