<app-seller-navbar></app-seller-navbar>
<h5 class="center">Add product</h5>
<br><br>

<div class="container">
    <div class="row">
        <form class="col s12" (ngSubmit)="onSubmit(menuForm.value)" [formGroup]="menuForm">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" formControlName="name">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="price" type="number" class="validate" formControlName="price">
                    <label for="price">Price</label>
                </div>
                <div class="switch center">
                    <h6>Available</h6>
                    <label>
                          No
                          <input type="checkbox" class="validate" formControlName="available">
                          <span class="lever"></span>
                          Yes
                    </label>
                </div>
            </div>
            <br>
            <div class="row center">
                <button class="btn waves-effect waves-light" onclick="M.toast({html: 'Item Added!'})" type="submit">Submit<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>

    <div class="row center">
        <a routerLink="../sellerMenu" class="btn-large waves-effect waves-light orange"><i class="material-icons left">mode_edit</i>Manage Menu</a>
    </div>
</div>
<app-seller-footer></app-seller-footer>