<h5 class="center head-text">Add product</h5>
<br><br>

<div class="container">
    <div class="row">
        <form class="col s12" (ngSubmit)="onSubmit(menuForm.value)" [formGroup]="menuForm">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" formControlName="name">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="price" type="number" class="validate" formControlName="price">
                    <label for="price">Price</label>
                </div>
            </div>
            <br>
            <div class="row center">
                <button class="btn waves-effect waves-light" onclick="M.toast({html: 'Item Added!'})" type="submit">Submit<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
</div>