/* You can add global styles to this file, and also import other style files */

/* @import '../node_modules/materialize-css/dist/css/materialize.min.css'; */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}